<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书籍总览 -- 荷兰豆</title>
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/book.css">

    <script type="text/javascript" src="/static/js/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/static/js/axios0.24.0.js"></script>
    <script type="text/javascript" src="/static/js/pre_common.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
</head>
<body>
    <div class="header clearfix">
        <div class="container">
            <div class="where_am_i">
                <a href="/">首页</a>
            </div>
            <div class="search_bar" id="search_bar" v-cloak>
                <form action="/search/" method="get">
                    <input type="text" class="search_input" :placeholder="search_place_holder" name="q" autocomplete="off">
                    <input type="submit" value="提交">
                </form>
            </div>
            <div class="user_info" id="user_info_bar" v-cloak>
                <div v-if="nickname">
                    <a class="nickname" href="/user/profile">[[ nickname ]]</a>
                    <a id="logout" href="#" @click.prevent="logout">退出</a>
                </div>
                <div v-else>
                    <a id="register" href="/user/register">注册</a>
                    <a id="login" href="/user/login">登录</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main header_bottom flex_column" id="books">
        <div class="where_am_i2">
            <a href="/">首页</a><span class="arrow">--></span><a href="/books/">书籍总览</a>
        </div>
        <div class="books flex_column" style="margin-top:2rem;padding-left:1rem">
            <div class="flex_column">
                <div class="flex" style="gap:2rem">
                    <h3>按标签筛选:</h3>
                    <div class="tag-group">
                        <label v-for="tag in tags" :key="tag.id" class="radio-label">
                            <input type="radio" name="book_tag" :value="tag.id" v-model="selected_tag_id" class="tag-radio">
                            {{ tag.tag_name }}
                        </label>
                        <label class="radio-label">
                            <input type="radio" name="book_tag" :value=null v-model="selected_tag_id" class="tag-radio">
                            全部分类
                        </label>
                        <span style="margin:1rem">
                        <button class="blue_button" @click.prevent="get_books(tag_id=selected_tag_id)">筛选</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex_row" style="flex-wrap: wrap">
                <div class="flex single_book" v-for="book in books">
                    <div style="margin-right:1rem">
                        <a :href=`/books/${book.id}` class="book-link">
                            <img class="book_cover" :src='book.cover' alt="封面">
                        </a>
                    </div>
                    <div class="flex_column">
                        <div class="flex_row">
                            <a :href=`/books/${book.id}` class="book-link">
                                <b>{{ book.book_name }}</b>
                            </a>
                        </div>
                        <div class="flex_row">分类：{{book.tag_name}}</div>
                        <div class="flex_row">简介：{{book.digest}}</div>
                        <div class="flex_row">
                            作者：
                            <a class="author" :href=`/user/profile/${book.author_id}`>
                                {{ book.author }}
                            </a>
                        </div>
                        <div class="flex_row">阅读数：{{ book.read_count }}</div>
                        <div class="flex_row">更新时间：{{ formatTime(book.update_time) }}</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="collections" id="collections">
            <div><h3>我的收藏夹:</h3></div>
                <div v-for = "col in collections" class="single_collection">
                    <a :href="`/content/${col.content_id}`"><b>《{{col.book_name}}》 {{col.chapter}}</b></a>
                    <button class="red_button" @click.prevent="delete_collection(col.content_id)">移出收藏夹</button>
                </div>
        </div>
        <div style="width: 6rem">
            <span style="margin: 0.5rem">
                <a href="/books/create_book/" class="blue_white_button">创建书籍</a>
            </span>
            <span>
                <a href="/books/create_content/" class="blue_white_button">创建章节</a>
            </span>
        </div>

    </div>

    <div class="bei_an">
        <p>
            <br><br><br><a href="http://beian.miit.gov.cn/publish/query/indexFirst.action">京ICP备19036293号-1</a>
        </p>
    </div>

    <script type="text/javascript" src="/static/js/books.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
</body>
</html>