<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>正文页 -- 荷兰豆</title>
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/book.css">
    <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/js/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/axios0.24.0.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
    <script type="text/javascript" src="/static/js/pre_common.js"></script>
</head>
<body>
    <div class="header clearfix">
        <div class="container">
            <div class="where_am_i">
                <a href="/">首页</a>
            </div>
            <div class="search_bar" id="search_bar" v-cloak>
                <form action="/search/" method="get">
                    <input type="text" class="search_input" :placeholder="search_place_holder" name="q" autocomplete="off">
                    <input type="submit" value="提交">
                </form>
            </div>
            <div class="user_info" id="user_info_bar" v-cloak>
                <div v-if="username">
                    <a class="username" href="/user/profile">[[ username ]]</a>
                    <a id="logout" href="/user/logout" onclick="deleteCookie('Authorization')">退出</a>
                </div>
                <div v-else>
                    <a id="register" href="/user/register">注册</a>
                    <a id="login" href="/user/login">登录</a>
                </div>
            </div>
        </div>
    </div>
    <div class="blank"></div>
    <div class="book_main" id="content">
        <div class="where_am_i2">
            <a href="/">首页</a>
            <span class="arrow">--></span>
            <a href="/books/">书籍总览</a>
            <span class="arrow">--></span>
            <a :href=`/books/${book_id}`>《{{book_name}}》</a>
            <span class="arrow">--></span><span>{{content.chapter}}</span>
        </div>
        <div class="content_wrapper">
            <div v-if="content" class="book_content_info">
                <div class="book_name"><h1>《{{book_name}}》</h1></div>
                <div class="chapter"><h2>第{{content.chapter_order}}章 {{content.chapter}}</h2></div>
                <div class="read_count">点击: {{content.read_count}}</div>
                <div class="collect_count">收藏: {{content.collect_count}}</div>
            </div>

            <div class="content">{{content.content}}</div>
            <div v-if="!content">
                <div>找不到该章节</div>
            </div>

            <div class="content_footer">
                <a :href=`/books/${book_id}/${last_chapter_order}`>前一章</a>
                <a :href=`/books/${book_id}`>回目录</a>
                <a :href=`/books/${book_id}/${next_chapter_order}`>后一章</a>
                <a href="#" @click.prevent=add_collections()>收藏 </a>
            </div>
        </div>

        <div class="comment_wrapper">
            <h3 class="comment_top">评论区</h3>
            <div class="comments">
                <div v-for="comment in comments">
                    <div class="comment">
                        <div class="comment_user_name">{{comment.user_name}}</div>
                        <div class="comment_comment">{{comment.content}}</div>
                        <span class="comment_ts">评论时间: {{comment.create_time}}</span>
                        <span class="agree_span">
                            <a href="#" class="agree" @click.prevent="agree(comment.id)">👍</a>
                            <span class="comment_agree">{{comment.agree_count}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="add_comment">
                <label>
                    <textarea id="input_comment" cols="30" rows="4" v-model="comment_to_send"></textarea>
                </label>
            </div>
            <a href="#" class="add_comment" @click.prevent="add_comment()">提交</a>
        </div>
    </div>

    <div class="bei_an">
        <p>
            <br><br><br><a href="http://beian.miit.gov.cn/publish/query/indexFirst.action">京ICP备19036293号-1</a>
        </p>
    </div>

    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/content.js"></script>
</body>
</html>