<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建书籍 -- 荷兰豆</title>
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/book.css">

    <script type="text/javascript" src="/static/js/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/static/js/axios0.24.0.js"></script>
    <script type="text/javascript" src="/static/js/pre_common.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
</head>
<body>
    <div class="header clearfix">
        <div class="container">
            <div class="where_am_i">
                <a href="/">首页</a>
            </div>
            <div class="search_bar" id="search_bar" v-cloak>
                <form action="/search/" method="get">
                    <input type="text" class="search_input" :placeholder="search_place_holder" name="q" autocomplete="off">
                    <input type="submit" value="提交">
                </form>
            </div>
            <div class="user_info" id="user_info_bar" v-cloak>
                <div v-if="username">
                    <a class="username" href="/user/profile">[[ username ]]</a>
                    <a id="logout" href="#" @click.prevent="logout">退出</a>
                </div>
                <div v-else>
                    <a id="register" href="/user/register">注册</a>
                    <a id="login" href="/user/login">登录</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main header_bottom flex_column">
        <div class="where_am_i2">
            <a href="/">首页</a><span class="arrow">--></span><a href="/books/">书籍总览</a><span class="arrow">--></span><a href="/books/create_book/">创建书籍</a>
        </div>
        <div id="create_book">
            <div style="margin:1rem">
                <input type="text" name="book_name" autocomplete="off" placeholder="书名" v-model="book_name">
            </div>
            <div style="margin:1rem">
                <textarea id="input_comment" cols="30" rows="4" v-model="digest" placeholder="简介"></textarea>
            </div>
            <div style="margin:1rem">
                <input type="submit" name="提交" @click.prevent="commit()">
            </div>
            <div style="margin:1rem">
                <span v-show="msg" class="error_free_tip">{{ msg }}</span>
            </div>
            <div style="margin:1rem">
                <span v-show="error" class="error_tip">{{ error }}</span>
            </div>
        </div>

    </div>

    <div class="bei_an">
        <p>
            <br><br><br><a href="http://beian.miit.gov.cn/publish/query/indexFirst.action">京ICP备19036293号-1</a>
        </p>
    </div>

    <script type="text/javascript" src="/static/js/create.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
</body>
</html>