<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心 -- 荷兰豆</title>
    <link rel="stylesheet" href="/static/css/default.css">
    <script type="text/javascript" src="/static/js/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/static/js/axios0.24.0.js"></script>
    <script type="text/javascript" src="/static/js/pre_common.js"></script>
</head>
<body>
    <div class="header clearfix">
        <div class="container">
            <div class="where_am_i">
                <a href="/">首页</a>
            </div>
            <div class="search_bar" id="search_bar" v-cloak>
                <form action="/search/" method="get">
                    <input type="text" class="search_input" :placeholder="search_place_holder" name="q" autocomplete="off">
                    <input type="submit" value="提交">
                </form>
            </div>
            <div class="user_info" id="user_info_bar" v-cloak>
                <div v-if="nickname">
                    <a class="nickname" href="/user/profile">[[ nickname ]]</a>
                    <a id="logout" href="#" @click.prevent="logout">退出</a>
                </div>
                <div v-else>
                    <a id="register" href="/user/register">注册</a>
                    <a id="login" href="/user/login">登录</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header_bottom">
        <div class="where_am_i2">
            <a href="/">首页</a>
                <span class="arrow">--></span>
                <a href="/user/profile">用户中心</a>
        </div>
        <div class="content">
            <div id="app" v-clock v-show="id">
                <div class="user_info" v-if="same_user">
                    <div><span>用户名: </span><span id="username">{{ username }} </span></div>
                    <div><span>代币: </span><span id="coins">{{ coins }}</span></div>
                    <div><span>权限等级: </span><span id="level">{{ level }}</span></div>
                    <div>
                        <span>昵称: </span>
                        <input id="nickname" v-model="nickname" disabled>
                        <span class="error_tip" v-show="nickname_msg" id="nickname_msg">{{ nickname_msg }}</span>
                    </div>
                    <div><span>上次登录时间: </span><span id="last_login" >{{ formatTime(last_login) }} </span></div>
                    <div><span>上次登录ip: </span><span id="login_ip">{{ login_ip }} </span></div>
                    <div>
                        <span>修改密码: </span>
                        <input id="former_password" v-model="former_password" placeholder="旧密码 必填" disabled>
                        <input id="new_password" v-model="new_password" placeholder="新密码 选填" disabled>
                    </div>
                    <div>
                        <span>邮箱: </span>
                        <input id="email" v-model="email" disabled>
                        <span class="error_tip" v-show="email_msg" id="email_msg">{{ email_msg }}</span>
                    </div>
                    <div>
                        <span>手机: </span>
                        <input id="mobile" v-model="mobile" disabled>
                        <span class="error_tip" v-show="mobile_msg" id="mobile_msg">{{ mobile_msg }}</span>
                    </div>
                    <input type="button" @click="edit" value="修改">
                    <input type="button" @click="save" value="保存">
                </div>
                <div class="other_user_info" v-if="!same_user">
                    <div><span>昵称: </span><span>{{ nickname }}</span></div>
                    <div><span>代币: </span><span>{{ coins }}</span></div>
                    <div><span>上次登录时间: </span><span >{{ formatTime(last_login) }} </span></div>
                </div>
                <div>
                    <span class="error_free_tip" v-show="msg">{{ msg }}</span>
                    <span class="error_tip" v-show="error_msg" id="error_msg">{{ error_msg }}</span>
                </div>
                <h2>该用户创建的书籍：</h2>
                <div class="books">
                        <div class="flex single_book" v-for="book in books">
                            <div style="margin-right:1rem">
                                <a :href=`/books/${book.id}/` class="book-link">
                                    <img class="book_cover" :src='book.cover' alt="封面">
                                </a>
                            </div>
                            <div class="flex_column">
                                <div class="flex_row"></div>
                                    <a :href=`/books/${book.id}` class="book-link">
                                        <b>{{ book.book_name }}</b>
                                    </a>
                                <div class="flex_row">阅读数：{{ book.read_count }}</div>
                                <div class="flex_row">更新时间：{{ formatTime(book.update_time) }}</div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/profile.js"></script>
</body>
</html>