<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页 -- 荷兰豆</title>
    <link rel="stylesheet" href="/static/css/default.css">

    <script type="text/javascript" src="/static/js/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/static/js/axios0.24.0.js"></script>
    <script type="text/javascript" src="/static/js/pre_common.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
</head>
<body>
    <div class="header clearfix">
        <div class="container">
            <div class="where_am_i">
                <a href="/">首页</a>
            </div>
            <div class="search_bar" id="search_bar" v-cloak>
                <form action="/search/" method="get">
                    <input type="text" class="search_input" :placeholder="search_place_holder" name="q" autocomplete="off">
                    <input type="submit" value="提交">
                </form>
            </div>
            <div class="user_info" id="user_info_bar" v-cloak>
                <div v-if="username">
                    <a class="username" href="/user/profile">[[ username ]]</a>
<!--                    <a id="logout" href="/user/logout" onclick="deleteCookie('Authorization')">退出</a>-->
                    <a id="logout" href="#" @click.prevent="logout">退出</a>
                </div>
                <div v-else>
                    <a id="register" href="/user/register">注册</a>
                    <a id="login" href="/user/login">登录</a>
                </div>
            </div>
        </div>
    </div>

    <div style="height:5rem"></div>
    <div class="go_to_read">
        <a href="/books">读书去</a>
    </div>
    <div id="greetings">
        <input type="button" value="领个币" @click.prevent="vivo50">
        <span class="error_tip">{{ error_msg }}</span>
        <span class="error_free_tip">{{ error_free_msg }}</span>
        <p>目前共有 {{ counts }} 位注册用户</p>
        <p>欢迎新用户 {{ latest }}</p>
    </div>

    <div class="bei_an">
        <img src="/static/gongan.png" alt="备案图标" class="inline">
        <a href="http://beian.miit.gov.cn/publish/query/indexFirst.action">京ICP备19036293号-1</a>
    </div>

    <script src="/static/js/common.js"></script>
    <script src="/static/js/greetings.js"></script>
</body>
</html>